<div class="row">
    <div class="col-lg-12">
	<h3>Cross-team sessions’ goals</h3>

    Although we are all involved in a NeIC activity or project, we don’t always have a good overview of all the NeIC projects. This is even more true as the number of NeIC projects increase and new staff are hired.
    <br>
    The main goal of these cross-team sessions is to learn about each other, share knowledge, find synergies and trigger cross-disciplinary collaboration.
    <br>
    We split the cross-team sessions in 3 parts:
    <br>
    <ul>
      <li>Flash talks: present your project with an aim to be understood by a large audience</li>
      <li>Hands-on: show your skills and how you solved a particular problem in your project</li>
      <li>Discuss and share: discuss about future prospectives on a chosen topic, write a blog, and present the main outcomes in a 2-3 minutes oral presentation during the wrap-up session on Wednesday.</li>
    </ul>
You will choose which hands-on and speed-blogging session by registering here: <a href="https://skjema.uio.no/93187">(<b>hands-on</b>)</a> and here: <a href="https://skjema.uio.no/93188">(<b>speed-blogging</b>)</a> before dinner on Monday 29.01. 

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
	<h3>Flash talk for project overview</h3>
Tuesday, January 30, 15:00-15:45 <br><br>

    Each project manager will make a very short oral presentation to explain what their project is about and why it is important to get NeIC support.
    <br><br>

The talks are a maximum duration of 3 minutes with the aim to present the project in an engaging and accessible way.
    They are aimed to be understood by non-specialist audiences but should at the same time try to highlight the challenges met in the project and why collaboration within Nordic countries facilitates searching and finding appropriate solutions for these problems.<br><br>

Please upload your slide(s) here: <b><a href="https://drive.google.com/drive/folders/1JDYaogDUzFyRVQRzNL8Q0J0hqLov_JFN">https://drive.google.com/drive/folders/1JDYaogDUzFyRVQRzNL8Q0J0hqLov_JFN</a></b> before the session. 
    <br><br>
    Some information on how to give a flash talk can be found <a href="https://www.software.ac.uk/home/cw11/giving-good-lightning-talk"><b>here</b></a>.
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Learn with hands-on/Experience sharing</h3>
	        The hands-on/experience sharing cross-team session is taking place on Tuesday, January 30, 15:45 - 17:00:
	        <ul>
		<li><b>15:45 - 16:00</b>: Introduction to cross-team hands-on/experience sharing</li>

		<li><b>16:00 - 17:00</b>: Four parallel hands-on/experience sharing sessions</li>
		</ul>
		<br>
		We all successfully met a technological or methodological challenge in our project and this session is about sharing our success and knowledge with other NeIC projects.
		<br>
The following four topics have been chosen after feedback from the projects:
        <p>

                <ol>
                    {% for crossteam in site.crossteams %}
 		    {% if crossteam.name == "hands-on" %}
                        {% assign crossteam_index = forloop.index %}
					  {% if crossteam.details%}
					  <li><a href="{{ site.baseurl }}/{{ crossteam.details }}"><b>{{crossteam.title}}</b></a> Organized by: {{crossteam.organizers}}. Room: {{crossteam.room}}</li>
					  {% endif %}
			{% endif %}
                    {% endfor %}
		</ul>
                </ol>

		</p>
    </div>


Please choose on of these topics by registering here: <a href="https://skjema.uio.no/93187"><b>https://skjema.uio.no/93187</b></a> before dinner on Monday 29.01.<br>
Registration list can be found here: <a href="../handson_groups"><b>Which session did I choose?</b></a><br><br>


For successfull events, we would like as many as possible to fill out the two questionnaires related to sessions 1 and 4 even if you are attending a different session. 
<ul>
<li> Hands-on session 1: <a href="https://qtrial2018q1az1.az1.qualtrics.com/jfe/form/SV_54sPm0hgS5nTfZb"><b>https://qtrial2018q1az1.az1.qualtrics.com/jfe/form/SV_54sPm0hgS5nTfZb</b></a></li>
<li> Hands-on session 4: <a href="https://skjema.uio.no/ahmcrossteam4"><b>https://skjema.uio.no/ahmcrossteam4</b></a></li>
</ul>

</div>

<div class="row">
    <div class="col-lg-12">
	<h3>Speed blogging - discuss and share</h3>
	Tuesday, January 30, 17:30-19:00<br><br>
While we discussed and shared our success stories in the previous session, here we will discuss future perspectives.<br>

     During this session we are going to discuss and write blogs in small groups. Each group will be self-organized. <br><br>

The topics we have suggested are: 
	 
<p>
<ol>
<li>How do you create a NeIC identity?</li>
<li>How do we best organize documentation? What is the best tool, strategy (inwards & outwards, googleTeam? vendor Lock-In trap)?</li>
<li>How can we bootstrap and manage projects in a light way?</li>
<li>How do we build a Nordic-wide community of scientific software developers, application experts and other e-science experts?</li>
<li>What are the next step to deploy a local European Genome Archive (EGA) development environment for the Nordic countries?</li>
<li>Make a movie on the NeIC vision and strategic process!</li>
<li>What does the future hold for data mining?</li>
</ol>
		
     </p>
You will find <a href="../speedblogging"><b>detailed information about the speedblogging session here. </b></a><br><br>

Please choose on of these topics by registering here: <a href="https://skjema.uio.no/93188"><b>https://skjema.uio.no/93188</b></a> before dinner on Monday 29.01.<br>
Registration list can be found here: <a href="../speedblogging_groups"><b>Which session did I choose?</b></a><br><br>
<br>

    </div>
</div>
