

<div class="row">
    <div class="col-lg-12">
Registration is now closed. A total of 69 participants will join this year. Welcome!


        <h3>List of registered participants</h3>
Columns are sortable by clicking on header. A pdf-version of this table is available <a href="/ahm18.neic.nordforsk.org/assets/files/all-registered.pdf">here</a>.
            <table class="sortable">


<thead>
<tr><th>#</th><th>First name</th><th>Sir name</th><th>E-mail</th><th>Affiliation</th><th>Project(s)</th></tr>
</thead>
                <tbody>
<tr><td>1</td><td>Thor</td><td>Wikfeldt</td><td>kthw@kth.se</td><td>PDC, KTH</td><td>Coderefinery</td></tr>
<tr><td>2</td><td>Bjørn</td><td>Lindi</td><td>bjorn.lindi@ntnu.no</td><td>NTNU</td><td>Coderefinery , Dellingr , NLPL</td></tr>
<tr><td>3</td><td>Radovan</td><td>Bast</td><td>radovan.bast@uit.no</td><td>NeIC/UiT The Arctic University of Norway</td><td>Coderefinery</td></tr>
<tr><td>4</td><td>Gudmund</td><td>Høst</td><td>gudmund.host@nordforsk.org</td><td>NeIC</td><td> XT</td></tr>
<tr><td>5</td><td>Anne-Marie</td><td>Bach</td><td>ambach@au.dk</td><td>Aarhus University</td><td> Ratatosk</td></tr>
<tr><td>6</td><td>Oxana</td><td>Smirnova</td><td>oxana.smirnova@hep.lu.se</td><td>LU / NeIC</td><td> NT1</td></tr>
<tr><td>7</td><td>Kine</td><td>Nordstokkå</td><td>kine.nordstokka@nordforsk.org</td><td>NordForsk</td><td> XT</td></tr>
<tr><td>8</td><td>Rob</td><td>Pennington</td><td>rlpennington1@gmail.com</td><td>NeIC</td><td>Pool competences , XT</td></tr>
<tr><td>9</td><td>Maiken</td><td>Pedersen</td><td>maiken.pedersen@usit.uio.no</td><td>UiO</td><td>NT1</td></tr>
<tr><td>10</td><td>Dmytro</td><td>Karpenko</td><td>dmytrok@usit.uio.no</td><td>University of Oslo</td><td>NT1</td></tr>
<tr><td>11</td><td>John</td><td>White</td><td>john.white@cern.ch</td><td>NeIC</td><td>Dellingr , EISCAT 3D</td></tr>
<tr><td>12</td><td>Jaakko</td><td>Leinonen</td><td>Jaakko.Leinonen@csc.fi</td><td>CSC</td><td>Tryggve</td></tr>
<tr><td>13</td><td>Erland</td><td>Hochheim</td><td>erhh@dtu.dk</td><td>Technical University of Denmark</td><td>Tryggve</td></tr>
<tr><td>14</td><td>Erik</td><td>Edelmann</td><td>edelmann@csc.fi</td><td>CSC</td><td>Coderefinery , NT1</td></tr>
<tr><td>15</td><td>Ulf</td><td>Tigerstedt</td><td>ulf.tigerstedt@csc.fi</td><td>CSC</td><td>NT1</td></tr>
<tr><td>16</td><td>Dan</td><td>Still</td><td>Dan.Still@csc.fi</td><td>CSC</td><td>Glenna</td></tr>
<tr><td>17</td><td>Matthias</td><td>Obst</td><td>matthias.obst@marine.gu.se</td><td>Dpt of Marine Sciences, University of Gothenburg</td><td>DeepDive</td></tr>
<tr><td>18</td><td>Anne</td><td>Fouilloux</td><td>annefou@geo.uio.no</td><td>UIO, Geofag</td><td>NICEST</td></tr>
<tr><td>19</td><td>Jonas</td><td>Hagberg</td><td>jonas.hagberg@nbis.se</td><td>NBIS</td><td>Tryggve</td></tr>
<tr><td>20</td><td>Johanna</td><td>Kaunisvaara</td><td>johanna.kaunisvaara@csc.fi</td><td>CSC - IT Center for Science Ltd. /</td><td>Tryggve Tryggve</td></tr>
<tr><td>21</td><td>Anders</td><td>Sjöström</td><td>anders.sjostrom@lunarc.lu.se</td><td>Lund university,</td><td>Lunarc Dellingr</td></tr>
<tr><td>22</td><td>Petter A.</td><td>Urkedal</td><td>urkedal@nbi.dk</td><td>University of Copenhagen</td><td>NT1</td></tr>
<tr><td>23</td><td>Tomasz</td><td>Malkiewicz</td><td>tomasz.malkiewicz@csc.fi</td><td>NeIC</td><td>XT</td></tr>
<tr><td>24</td><td>Joel</td><td>Hedlund</td><td>joel@nsc.liu.se</td><td>NeIC, NBIS, NSC</td><td>Tryggve</td></tr>
<tr><td>25</td><td>Mattias</td><td>Wadenstein</td><td>maswan@ndgf.org</td><td>HPC2N</td><td>NT1</td></tr>
<tr><td>26</td><td>Michaela</td><td>Barth</td><td>caela@kth.se</td><td>PDC-HPC,</td><td>KTH Pool competences , XT</td></tr>
<tr><td>27</td><td>Ali</td><td>Syed</td><td>alisyed@dtu.dk</td><td>DTU</td><td>Tryggve</td></tr>
<tr><td>28</td><td>Peter</td><td>Loengreen</td><td>peterl@dtu.dk</td><td>DTU</td><td>Tryggve</td></tr>
<tr><td>29</td><td>Johan</td><td>Viklund</td><td>johan.viklund@nbis.se</td><td>NBIS</td><td>Tryggve</td></tr>
<tr><td>30</td><td>Maja</td><td>Nordhild</td><td>majnor@dtu.dk</td><td>DTU/Computrome</td><td>Tryggve</td></tr>
<tr><td>31</td><td>Romain</td><td>Wartel</td><td>Romain.Wartel@cern.ch</td><td>CERN</td><td>EISCAT 3D</td></tr>
<tr><td>32</td><td>Christian</td><td>Søttrup</td><td>soettrup@nbi.dk</td><td>UCPH</td><td>NT1</td></tr>
<tr><td>33</td><td>Antti</td><td>Pursula</td><td>antti.pursula@csc.fi</td><td>CSC</td><td>Tryggve</td></tr>
<tr><td>34</td><td>Dmytro</td><td>Titov</td><td>dmytrot@ifi.uio.no</td><td>UiO</td><td>Tryggve</td></tr>
<tr><td>35</td><td>Vincent</td><td>Garonne</td><td>vgaronne@gmail.com</td><td>UiO</td><td>NT1</td></tr>
<tr><td>36</td><td>Jacob</td><td>Brandrup</td><td>jbran@dtu.dk</td><td>DTU</td><td>Tryggve</td></tr>
<tr><td>37</td><td>Rafal</td><td>Wolanin</td><td>rawo@dtu.dk</td><td>Computerome</td><td>Tryggve</td></tr>
<tr><td>38</td><td>Máni Maríus</td><td>Viðarsson</td><td>mani@hi.is</td><td>University of Iceland</td><td>Dellingr</td></tr>
<tr><td>39</td><td>Juha</td><td>Fagerholm</td><td>juha.fagerholm@csc.fi</td><td>CSC - IT Center for Science</td><td>Dellingr</td></tr>
<tr><td>40</td><td>Matteo</td><td>Carone</td><td>matteo.carone@farmbio.uu.se</td><td>Uppsala University</td><td>Glenna</td></tr>
<tr><td>41</td><td>Gurvinder</td><td>Singh</td><td>gurvinder.singh@uninett.no</td><td>Uninett AS</td><td>Glenna</td></tr>
<tr><td>42</td><td>Pontus</td><td>Freyhult</td><td>pontus.freyhult@it.uu.se</td><td>NBIS / UPPMAX</td><td>Tryggve</td></tr>
<tr><td>43</td><td>Pavlin</td><td>Mitev</td><td>pavlin.mitev@kemi.uu.se</td><td>Uppsala University</td><td>Glenna</td></tr>
<tr><td>44</td><td>Sri Harsha</td><td>Vathsavayi</td><td>sriharsha.vathsavayi@csc.fi</td><td>CSC - IT Center for Science</td><td>Coderefinery</td></tr>
<tr><td>45</td><td>Niclas</td><td>Jareborg</td><td>niclas.jareborg@nbis.se</td><td>NBIS</td><td>Tryggve</td></tr>
<tr><td>46</td><td>Nanjiang</td><td>Shu</td><td>nanjiang.shu@nbis.se</td><td>NBIS</td><td>Tryggve</td></tr>
<tr><td>47</td><td>Abdulrahman </td><td>Azab Mohamed</td><td>azab@usit.uio.no</td><td>University of Oslo</td><td>Tryggve</td></tr>
<tr><td>48</td><td>Risto</td><td>Laurikainen</td><td>risto.laurikainen@csc.fi</td><td>CSC Coderefinery ,</td><td>Glenna</td></tr>
<tr><td>49</td><td>Olli</td><td>Tourunen</td><td>olli.tourunen@csc.fi</td><td>CSC</td><td>Glenna</td></tr>
<tr><td>50</td><td>Juha</td><td>Törnroos</td><td>juha.tornroos@csc.fi</td><td>CSC - IT Center for Science Ltd.</td><td>Tryggve</td></tr>
<tr><td>51</td><td>Minna</td><td>Ahokas</td><td>minna.ahokas@csc.fi</td><td>CSC</td><td>Tryggve</td></tr>
<tr><td>52</td><td>Tommi</td><td>Jalkanen</td><td>tommi.jalkanen@csc.fi</td><td>CSC</td><td>Tryggve</td></tr>
<tr><td>53</td><td>Kalle</td><td>Happonen</td><td>kalle.happonen@csc.fi</td><td>CSC - IT Center for Science Ltd.</td><td>Glenna</td></tr>
<tr><td>54</td><td>Chris</td><td>Thomas</td><td>chris.thomas@csc.fi</td><td>CSC</td><td>Tryggve</td></tr>
<tr><td>55</td><td>Jens</td><td>Larsson</td><td>jens@ndgf.org</td><td>Linköpings universitet/NSC</td><td>NT1</td></tr>
<tr><td>56</td><td>Xiaxi</td><td>Li</td><td>xiaxi.li@uib.no</td><td>Uib</td><td>Tryggve</td></tr>
<tr><td>57</td><td>Ivar</td><td>Koppel</td><td>ivar.koppel@ut.ee</td><td>ETAIS</td><td>Dellingr , Glenna , Tryggve , XT</td></tr>
<tr><td>58</td><td>Ingemar</td><td>Fällman</td><td>ingemar.fallman@umu.se</td><td>Umeå University</td><td>Glenna</td></tr>
<tr><td>59</td><td>Lars</td><td>Viklund</td><td>lars.viklund@umu.se</td><td>HPC2N, Umeå University</td><td>Glenna</td></tr>
<tr><td>60</td><td>Lene Krøl</td><td> Andersen</td><td>lene.krol.andersen@deic.dk</td><td>DeIC eScience Center</td><td>Coderefinery , Pool competences , Ratatosk</td></tr>
<tr><td>61</td><td>Stephan</td><td>Oepen</td><td>oe@ifi.uio.no</td><td>Universitetet i Oslo</td><td>NLPL</td></tr>
<tr><td>62</td><td>Salman</td><td>Toor</td><td>salman.toor@it.uu.se</td><td>Uppsala University</td><td>Glenna</td></tr>
<tr><td>63</td><td>Apurva</td><td>Nandan</td><td>apurva.nandan@csc.fi</td><td>CSC</td><td>Glenna</td></tr>
<tr><td>64</td><td>Aleksi</td><td>Kallio</td><td>aleksi.kallio@csc.fi</td><td>CSC</td><td>Glenna</td></tr>
<tr><td>65</td><td>Marianne</td><td>Strøm</td><td>mariannestrom1@gmail.com</td><td>NordForsk</td><td>intern Coderefinery , DeepDive , Dellingr , EISCAT 3D , Glenna , NICEST , NT1 , NLPL , Pool competences , Ratatosk , Tryggve , XT</td></tr>
<tr><td>66</td><td>Ilja</td><td>Livenson</td><td>ilja.livenson@ut.ee</td><td>University of Tartu / ETAIS</td><td>Dellingr</td></tr>
<tr><td>67</td><td>Anna</td><td>Ármannsdóttir</td><td>annaj@hi.is</td><td>University of Iceland</td><td>Dellingr</td></tr>
<tr><td>68</td><td>Milen</td><td>Kouylekov</td><td>milen.kouylekov@usit.uio.no</td><td>UIO</td><td>Tryggve</td></tr>
<tr><td>69</td><td> Kasper </td><td>Sort </td><td>kasper.sort@deic.dk </td><td>DeiC NeIC </td><td> Glenna</td></tr>
                </tbody>
            </table>
    </div>
</div>
