

<div class="row">
    <div class="col-lg-12">
Registration is now closed. A total of 69 participants will join this year. Welcome!


        <h3>List of registered participants</h3>
Columns are sortable by clicking on header. A pdf-version of this table is available <a href="/ahm18.neic.nordforsk.org/assets/files/all-registered.pdf">here</a>.
            <table class="sortable">
<thead>
<tr><th>#</th><th>First name</th><th>Sir name</th><th>Affiliation</th><th>Title</th><th>Project(s)</th></tr>
</thead>
                <tbody>
		    <tr><td>1 </td><td>Thor </td><td>Wikfeldt </td><td>PDC, KTH </td><td>PhD </td><td>Coderefinery</td></tr>
		    <tr><td>2 </td><td>Bjørn </td><td>Lindi </td><td>NTNU </td><td>MsC </td><td>Coderefinery , Dellingr , NLPL</td></tr>
		    <tr><td>3 </td><td>Radovan </td><td>Bast </td><td>NeIC/ UiT The Arctic University of Norway </td><td>  </td><td>Coderefinery</td></tr>
		    <tr><td>4 </td><td>Gudmund </td><td>Høst </td><td>NeIC </td><td>  </td><td>XT</td></tr>
		    <tr><td>5 </td><td>Anne-Marie </td><td>Bach </td><td>Aarhus University </td><td>  </td><td>Ratatosk</td></tr>
		    <tr><td>6 </td><td>Oxana </td><td>Smirnova </td><td>LU / NeIC </td><td>  </td><td>NT1</td></tr>
		    <tr><td>7 </td><td>Kine </td><td>Nordstokkå </td><td>NordForsk </td><td>MsC </td><td>XT</td></tr>
		    <tr><td>8 </td><td>Rob </td><td>Pennington </td><td>NeIC </td><td>PhD </td><td>Pool competences , XT</td></tr>
		    <tr><td>9 </td><td>Maiken </td><td>Pedersen </td><td>UiO </td><td>PhD </td><td>NT1</td></tr>
		    <tr><td>10 </td><td>Dmytro </td><td>Karpenko </td><td>University of Oslo </td><td>MsC </td><td>NT1</td></tr>
		    <tr><td>11 </td><td>John </td><td>White </td><td>NeIC </td><td>PhD </td><td>Dellingr , EISCAT 3D</td></tr>
		    <tr><td>12 </td><td>Jaakko </td><td>Leinonen </td><td>CSC </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>13 </td><td>Erland </td><td>Hochheim </td><td>Technical University of Denmark </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>14 </td><td>Erik </td><td>Edelmann </td><td>CSC </td><td>MsC </td><td>Coderefinery , NT1</td></tr>
		    <tr><td>15 </td><td>Ulf </td><td>Tigerstedt </td><td>CSC </td><td>MsC </td><td>NT1</td></tr>
		    <tr><td>16 </td><td>Dan </td><td>Still </td><td>CSC </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>17 </td><td>Matthias </td><td>Obst </td><td>Dpt of Marine Sciences, University of Gothenburg </td><td>PhD </td><td>DeepDive</td></tr>
		    <tr><td>18 </td><td>Anne </td><td>Fouilloux </td><td>UIO, Geofag </td><td>  </td><td>NICEST</td></tr>
		    <tr><td>19 </td><td>Jonas </td><td>Hagberg </td><td>NBIS </td><td>MsC </td><td>Tryggve</td></tr>
		    <tr><td>20 </td><td>Johanna </td><td>Kaunisvaara </td><td>CSC - IT Center for Science Ltd. / Tryggve </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>21 </td><td>Anders </td><td>Sjöström </td><td>Lund university, Lunarc </td><td>MsC </td><td>Dellingr</td></tr>
		    <tr><td>22 </td><td>Petter A. </td><td>Urkedal </td><td>University of Copenhagen </td><td>PhD </td><td>NT1</td></tr>
		    <tr><td>23 </td><td>Chandan </td><td>Basu </td><td>Application Expert, NSC, Sweden </td><td>PhD </td><td>NICEST</td></tr>
		    <tr><td>24 </td><td>Tomasz </td><td>Malkiewicz </td><td>NeIC </td><td>  </td><td>XT</td></tr>
		    <tr><td>25 </td><td>Joel </td><td>Hedlund </td><td>NeIC, NBIS, NSC </td><td>PhD </td><td>Tryggve</td></tr>
		    <tr><td>26 </td><td>Mattias </td><td>Wadenstein </td><td>HPC2N </td><td>  </td><td>NT1</td></tr>
		    <tr><td>27 </td><td>Michaela </td><td>Barth </td><td>PDC-HPC, KTH </td><td>PhD </td><td>Pool competences , XT</td></tr>
		    <tr><td>28 </td><td>Ali </td><td>Syed </td><td>DTU </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>29 </td><td>Peter </td><td>Loengreen </td><td>DTU </td><td>Prof </td><td>Tryggve</td></tr>
		    <tr><td>30 </td><td>Johan </td><td>Viklund </td><td>NBIS </td><td>PhD </td><td>Tryggve</td></tr>
		    <tr><td>31 </td><td>Maja </td><td>Nordhild </td><td>DTU/Computrome </td><td>MsC </td><td>Tryggve</td></tr>
		    <tr><td>32 </td><td>Romain </td><td>Wartel </td><td>CERN </td><td>MsC </td><td>EISCAT 3D</td></tr>
		    <tr><td>33 </td><td>Christian </td><td>Søttrup </td><td>UCPH </td><td>MsC </td><td>NT1</td></tr>
		    <tr><td>34 </td><td>Antti </td><td>Pursula </td><td>CSC </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>35 </td><td>Dmytro </td><td>Titov </td><td>UiO </td><td>MsC </td><td>Tryggve</td></tr>
		    <tr><td>36 </td><td>Vincent </td><td>Garonne </td><td>UiO </td><td>PhD </td><td>NT1</td></tr>
		    <tr><td>37 </td><td>Jacob </td><td>Brandrup </td><td>DTU </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>38 </td><td>Rafal </td><td>Wolanin </td><td>Computerome </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>39 </td><td>Máni Maríus </td><td>Viðarsson </td><td>University of Iceland </td><td>MsC </td><td>Dellingr</td></tr>
		    <tr><td>40 </td><td>Juha </td><td>Fagerholm </td><td>CSC - IT Center for Science </td><td>PhD </td><td>Dellingr</td></tr>
		    <tr><td>41 </td><td>Matteo </td><td>Carone </td><td>Uppsala University </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>42 </td><td>Gurvinder </td><td>Singh </td><td>Uninett AS </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>43 </td><td>Pontus </td><td>Freyhult </td><td>NBIS / UPPMAX </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>44 </td><td>Pavlin </td><td>Mitev </td><td>Uppsala University </td><td>PhD </td><td>Glenna</td></tr>
		    <tr><td>45 </td><td>Sri Harsha </td><td>Vathsavayi </td><td>CSC - IT Center for Science </td><td>PhD </td><td>Coderefinery</td></tr>
		    <tr><td>46 </td><td>Niclas </td><td>Jareborg </td><td>NBIS </td><td>PhD </td><td>Tryggve</td></tr>
		    <tr><td>47 </td><td>Nanjiang </td><td>Shu </td><td>NBIS </td><td>PhD </td><td>Tryggve</td></tr>
		    <tr><td>48 </td><td>Abdulrahman </td><td>Azab Mohamed </td><td>University of Oslo </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>49 </td><td>Risto </td><td>Laurikainen </td><td>CSC </td><td>MsC </td><td>Coderefinery , Glenna</td></tr>
		    <tr><td>50 </td><td>Olli </td><td>Tourunen </td><td>CSC </td><td>MsC </td><td>Glenna</td></tr>
		    <tr><td>51 </td><td>Juha </td><td>Törnroos </td><td>CSC - IT Center for Science Ltd. </td><td>MsC </td><td>Tryggve</td></tr>
		    <tr><td>52 </td><td>Minna </td><td>Ahokas </td><td>CSC </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>53 </td><td>Tommi </td><td>Jalkanen </td><td>CSC </td><td>MsC </td><td>Tryggve</td></tr>
		    <tr><td>54 </td><td>Kalle </td><td>Happonen </td><td>CSC - IT Center for Science Ltd. </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>55 </td><td>Chris </td><td>Thomas </td><td>CSC </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>56 </td><td>Jens </td><td>Larsson </td><td>Linköpings universitet/NSC </td><td>  </td><td>NT1</td></tr>
		    <tr><td>57 </td><td>Xiaxi </td><td>Li </td><td>Uib </td><td>  </td><td>Tryggve</td></tr>
		    <tr><td>58 </td><td>Ivar </td><td>Koppel </td><td>ETAIS </td><td>PhD </td><td>Dellingr , Glenna , Tryggve , XT</td></tr>
		    <tr><td>59 </td><td>Ingemar </td><td>Fällman </td><td>Umeå University </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>60 </td><td>Lars </td><td>Viklund </td><td>HPC2N, Umeå University </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>61 </td><td>Lene Krøl </td><td>Andersen </td><td>DeIC eScience Center </td><td>PhD </td><td>Coderefinery , Pool competences , Ratatosk</td></tr>
		    <tr><td>62 </td><td>Stephan </td><td>Oepen </td><td>Universitetet i Oslo </td><td>Prof </td><td>NLPL</td></tr>
		    <tr><td>63 </td><td>Salman </td><td>Toor </td><td>Uppsala University </td><td>PhD </td><td>Glenna</td></tr>
		    <tr><td>64 </td><td>Apurva </td><td>Nandan </td><td>CSC </td><td>  </td><td>Glenna</td></tr>
		    <tr><td>65 </td><td>Aleksi </td><td>Kallio </td><td>CSC </td><td>PhD </td><td>Glenna</td></tr>
		    <tr><td>66 </td><td>Marianne </td><td>Strøm </td><td>NordForsk intern </td><td>MsC </td><td>Coderefinery , DeepDive , Dellingr , EISCAT 3D , Glenna , NICEST , NT1 , NLPL , Pool competences , Ratatosk , Tryggve , XT </td></tr>
		    <tr><td>67 </td><td>Ilja </td><td>Livenson</td><td>University of Tartu /ETAIS </td><td>MsC</td><td> Dellingr</td></tr>
<tr><td>68</td><td> Anna</td><td>Armannsdottir</td><td>University of Iceland</td><td></td><td>Dellingr</td></tr>
<tr><td>69</td><td>Milen</td><td>Kouylekov</td><td>UiO</td><td>PhD</td><td>Tryggve</td></tr>
                </tbody>
            </table>
    </div>
</div>
