
body {
    background: #ffffff;
    margin: 0;
    height: 100%;
    color: #000000;
    #color: #606060;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-top: 100px;
    padding-bottom: 200px;
}

h1 {
    font-size: 41px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    color: #ffffff;
}

h3 {
    font-size: 20px;
    color: #f15d20;
}

.right {
    text-align: right;
}


a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}


.various {
    background-color: #D0D0D0;
}

.recreation {
    background-color: #5cae8a;
}


.plenary {
    background-color: #86bbd8;
}

.crossteam {
    background-color: #f6b540;
}

.teamchallenge{
    background-color: #DEB887;
}

.workshop{
    background-color: #FFD700;

}

.teamsession{
    background-color: #1e90ff;
}

.inactive {
    background-color: #ffffff;
}

.frontpage {
font-size: 0.5vw;
margin-left: 10%; 

}

@-webkit-keyframes fadeIt {
  0%   { background-color: #ff0000; }
  100% { background-color: #fff6d2; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #ff0000; }
  100% { background-color: #fff6d2; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #ff0000; }
  100% { background-color: #fff6d2; }
}
@keyframes fadeIt {
  0%   { background-color: #ff0000; }
  100% { background-color: #fff6d2; }
}

.backgroundAnimated{
    background-color: #fff6d2;
    background-image:none !important;
    -webkit-animation: fadeIt 2s ease-in-out;
       -moz-animation: fadeIt 2s ease-in-out;
         -o-animation: fadeIt 2s ease-in-out;
            animation: fadeIt 2s ease-in-out;
}


.hover_area .hidden_area {
    display: none;
}

.hover_area:hover .hidden_area {
    display: inline;
}

a{
color: #000000;
#text-decoration: underline;
}

a:link {
    color: darkblue;
}